<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arupakaman.kohi">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <intent>
            <action android:name="android.intent.action.SENDTO" />
        </intent>
    </queries>

    <application
        android:name=".KohiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kohi"
        tools:ignore="AllowBackup">

        <activity
            android:name=".uiModules.home.ActivityHome"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".uiModules.invisibleActivity.ActivityInvisible"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name=".uiModules.common.ActivityCommon"
            android:screenOrientation="portrait" />

        <!-- Services -->
        <service
            android:name=".services.KohiTileService"
            android:icon="@drawable/ic_kohi_outline"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="false" />

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".broadcastReceivers.BroadcastReceiverBootCompleted"
            android:exported="false">
            <intent-filter>
                <!--<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>